
<!DOCTYPE html 
      PUBLIC "-//W3C//DTD HTML 4.01//EN"
      "http://www.w3.org/TR/html4/strict.dtd">
<script src="angular.js"></script>
<script src="application.js"></script>
<link rel="stylesheet" type="text/css" href="resources/css/style.css">
<html lang="en-UK">
<link rel="favicon" href="resources/favicon.ico" type="image/icon">
<link rel="icon" href="resources/favicon.ico" type="image/icon">
<meta charset="utf-8">


<html ng-app="weatherapp">

<head>
    <title>Project SkyFront</title>
</head>

<body>

<div id="wrapper">
    <section id="weatherarea">
        <h4>{{day}}</h4>
        <h3>{{date}}/{{month}}/{{year}}</h3>
        <hr noshade color="black">
        <h2>TEMP.</h2>
        <h1>{{temperature}}&degC</h1>
    </section>
</div>

<div id="example">
    <h5>DEMO INFORMATION</h5>
    Todays Day: <input type="text" ng-model="day">
    Todays Date: <input type="number" ng-model="date">
    Todays Month: <input type="number" ng-model="month">
    Todays Year: <input type="number" ng-model="year">
    Temperature: <input type="number" ng-model="temperature">
</div>

<div id="wrapper">
    <div id="simulated">
        <h1>Simulated</h1>
    </div>
    <section id="weatherarea">
        <h4>Wednesday</h4>
        <h3>22/10/2014</h3>
        <hr noshade color="black">
        <h2>TEMP.</h2>
        <h1>8&degC</h1>
    </section>
</div>

<!--<section id="weatherimage">-->
<!--<img src="resources/img/Water-Humidity.png" alt="Weather Image Representation">-->
<!--</section>-->

</body>

<footer>
    <a href="http://facebook.com/modernelm5862"><img src="resources/img/facebook.png" alt="Grey Facebook Logo" class="social-icon"></a>
    <a href="http://twitter.com/modernelm"><img src="resources/img/twitter.png" alt="Grey Twitter Logo" class="social-icon"></a>
    <a href="https://github.com/modernelm5862"><img src="resources/img/github.png" alt="Black and White GitHub Logo" class="social-icon"></a>
    <p>&copy; 2014 Alfie Driver.</p>
</footer> 

</html>

